@page {
  margin: 10px;
}

/*Body style*/
body {
  text-align: left;
  line-height: 120%;
}

/* table style*/
table.type01 {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0;
}
table.type01 td {
  vertical-align: middle;
  border: 1px solid #ccc;
}

/* heading style*/
h1 {
  text-indent: 0;
  text-align: left;
  margin: 100px 0 0 0;
  font-size: 2em;
  font-weight: bold;
  page-break-before: always;
  line-height: 150%; /*gets squished otherwise on ADE */
}

h2 {
  text-indent: 0;
  text-align: left;
  margin: 50px 0 0 0;
  font-size: 1.5em;
  font-weight: bold;
  page-break-before: always;
  line-height: 135%; /*get squished otherwise on ADE */
}

h3 {
  text-indent: 0;
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1.3em;
}

/* caption style */
caption {
  font-weight: bold;
  font-size: 0.8em;
}